<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>BomiJourney</title>
  </head>
  <body>
    <div class="container">
      <h1>💖 Welcome to BimiJourneyNode</h1>
      <label>Socket Id</label>
      <p id="socket-id"></p>
      <label>Send Message</label>
      <select id="others"></select>
      <input id="message" placeholder="Message" />
      <button id="send-button">Send</button>
      <label>Received Message</label>
      <p id="received"></p>
    </div>
  </body>
</html>
