<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>BomiJourney</title>
  </head>
  <body>
    <h1>💖 Welcome to BimiJourneyNode</h1>
    <div class="wrapper">
      <div class="container">
        <h2>NodeServer</h2>
        <label>Socket Id</label>
        <p id="socket-id-node"></p>
        <label>Send Message</label>
        <select id="others-node"></select>
        <input id="message-node" placeholder="Message" />
        <button id="send-button-node">Send</button>
        <label>Received Message</label>
        <p id="received-node"></p>
      </div>
      <div class="container">
        <h2>GameServer</h2>
        <label>Socket Id</label>
        <p id="socket-id-game"></p>
        <label>Send Message</label>
        <select id="users-game"></select>
        <input id="message-game" placeholder="Message" />
        <button id="send-button-game">Send</button>
        <label>Received Message</label>
        <p id="received-game"></p>
      </div>
    </div>
  </body>
</html>
